body {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    justify-content: center;
    align-items: center;
    & .room{
        height: 90%;
        width: 90%;
        & #seats-container{
            display: grid;
            grid-template-columns: 50% 40% 10%;
            grid-template-rows: 10% 70% 20%;
            gap: 0px 20px;
            height: 100%;
            grid-auto-flow: row;
            grid-template-areas:
              ". top-seats-container ."
              "left-seats-container . scene"
              ". bottom-seats-container .";



            & #top-seats-container {
                grid-area: top-seats-container;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(4, 1fr);
                & .top-seat{
                    height: 20px;
                    width: 20px;
                    border-radius: 5px;
                    background-color: var(--GrisClaire);
                    &.selected{
                        background-color: var(--Principal);
                    }
                }
            }
            & #left-seats-container {
                grid-area: left-seats-container;
                display: grid;
                row-gap: 5px;
                grid-template-columns: repeat(17, 1fr);
                grid-template-rows: repeat(32, 1fr);
                & .left-seat{
                    height: 20px;
                    width: 20px;
                    border-radius: 5px;
                    background-color: var(--GrisClaire);
                    &.selected{
                        background-color: var(--Principal);
                    }
                }
            }
            & #bottom-seats-container {
                grid-area: bottom-seats-container;
                display: grid;
                grid-template-columns: repeat(17, 1fr);
                grid-template-rows: repeat(8, 1fr);
                & .bottom-seat{
                    height: 20px;
                    width: 20px;
                    border-radius: 5px;
                    background-color: var(--GrisClaire);
                    &.selected{
                        background-color: var(--Principal);
                    }
                }
            }


            & #scene{
                position: relative;
                grid-area: scene;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 2px;
                    height: 80%;
                    background-color: var(--Noir);
                }
            }
        }

        }
    & #pay-button{
        position: relative;
        cursor: pointer;
        display: flex;
        gap: 20px;
        padding: var(--padding);
        border: none;
        outline: none;
        overflow: hidden;
        font-size: 1em;
        min-width: 200px;
        max-height: 60px;
        border-radius: var(--borderR);
        background-color: var(--GrisClaire);
        & span, svg{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            height: 100%;
        }
        svg{
            height: 70%;
        }
        &::before{
            content: '';
            z-index: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: var(--Principal);
            transform: translate(-50%, 100%);
            transition: all .7s;
        }
        &:hover::before{
            border-radius: var(--borderR);
            transform: translate(0,0);
        }
    }
}